@model List<Measurement>
@{
    ViewBag.Title = "Measurements";
}

<div class="container">
    @{
        foreach (var measurement in @Model)
        {
            <a href="/measurement/@measurement.Id">Измерение №@measurement.Id</a>
        }
    }
</div>