@using RadiometerWebApp.Models
@model Measurement
@{
    ViewBag.Title = "Measurement";
}

<div class="container">
    <p>Дата: @Model.Time</p>
    <p>Пациент: @Model.Patient</p>
    <p>Устройство: @Model.Device</p>
    <p>Описание: @Model.Description</p>
    <a href="/measurement/download/@Model.Id">Загрузить данные</a>
</div>
